@{
    ViewBag.Title = "Поставщики";
    ViewBag.MenuId = "suppliers";
    Layout = "~/Areas/Catalog/Views/Shared/_Layout.cshtml";
}
@model Vtb24.Arms.Catalog.Models.Partners.SuppliersModel


@Html.AddScriptBlock(
@<script>
    $('.sticky-save').sticky({ topSpacing: 0, center: false });
</script>
)
<div class="tab-pane active" id="tab5">
@*
--------------------- Шапка
*@
    <div class="container">
        <div class="sticky-save" style="width:940px">
        <div class="navbar">
            <div class="navbar-inner no-border pad-left-0">
                @if (Model.Permissions.Edit)
                {
                    <a href="@Url.Action("Create", "Suppliers")" class="btn btn-success mar-left-20">
                        <i class="icon-plus icon-white"></i>
                    </a>
                }
            </div>
        </div>
        </div>
        
@*
--------------------- Список поставщиков
*@
        <table class="table info-table table-bordered table-partners font-size-13">
            <thead>
                <tr>
                    <th>ID</th>
                    <th class="text-left w12em">Наименование</th>
                    <th class="text-left">Описание</th>
                    <th class="w8em">Тип</th>
                    <th class="w8em">Степень&nbsp;доверия</th>
                    <th class="w8em">Статус</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var supplier in Model.Suppliers)
                {
                    <tr class="@(supplier.Disabled ? "not-active" : "")">
                        <td>@supplier.Id</td>
                        <td class="text-left">
                            @if (Model.Permissions.Edit)
                            {
                                <a href="@Url.Action("Edit", "Suppliers", new { id = supplier.Id })">@supplier.Name</a>
                            }
                            else
                            {
                                @supplier.Name
                            }
                        </td>
                        <td class="text-left">@(string.IsNullOrEmpty(supplier.Description) ? "Нет описания" : supplier.Description)</td>
                        <td><span class="nowrap">@supplier.Type</span></td>
                        <td>@supplier.TrustLevel</td>
                        <td class="text-center">@supplier.Status</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
