@{
    ViewBag.Title = "Выписка клиента " + Model.Query.login;
    ViewBag.MenuId = "users";
    Layout = "~/Areas/Security/Views/Shared/_Layout.cshtml";
}
@using Vtb24.Arms.Security.Models.Users
@model UserPointsModel
@Html.AddScriptBlock(
    @<script>
         require(['Security/Users/points'], function(points) {
             points();
         });
     </script>
    )
@*
--------------------- Навигация
*@
<ul class="nav nav-pills mar-left-0 mar-bottom-10">
    <li><a href="@Url.Action("Edit", "Users", new { Model.Query.login })"><span>Профиль</span></a></li>
    <li><a href="@Url.Action("Messages", "Users", new { Model.Query.login })">Личные сообщения</a></li>
    <li><a href="@Url.Action("Orders", "Users", new { Model.Query.login })">Заказы</a></li>
    <li class="disabled"><a href="@Url.Action("Points", "Users", new { Model.Query.login })">Выписка</a></li>
</ul>
@*
--------------------- Шапка
*@
<div class="sticky-save" data-x="security/users/points/navbar">
    <div class="navbar" style="width: 940px;">
        <div class="navbar-inner mar-bottom-10 no-border pad-left-12 mar-left-0 pad-top-5">
            @using(Html.BeginForm("points", "Users", FormMethod.Get, new { @class = "mar-bottom-0" }))
            {
                @Html.Hidden("login", Model.Query.login)
                <div class="row">
                    <div class="span2">
                        <input type="text" id="from" name="from" placeholder="Дата с" value="@(Model.Query.from.HasValue ? Model.Query.from.Value.ToShortDateString() : "")" class="input-block-level mar-bottom-0">
                    </div>
                    <div class="span2">
                        <input type="text" id="to" name="to" placeholder="по" value="@(Model.Query.to.HasValue ? Model.Query.to.Value.ToShortDateString() : "")" class="input-block-level mar-bottom-0">
                    </div>
                    <div class="span2">
                        <button class="btn" style="margin-top: 0;" type="submit"><i class="icon-search"></i> Найти</button>
                    </div>
                    <a href="@Url.Action("Index", "Users")" class="btn pull-right" style="margin-top: 0;">Назад</a>
                </div>
            }
        </div>
    </div>
</div>
<h3>@ViewBag.Title</h3>
@*
--------------------- Баланс
*@
<div class="row mar-left-0 line-height-30">
    <div class="span2">Баланс:</div>
    <div class="span9">
        @Model.Balance.ToString("N0") бонусов
    </div>
</div>
@*
--------------------- Выписка
*@
@if (Model.Operations != null && Model.Operations.Length > 0)
{
    <div class="row mar-left-0 line-height-30">
        <div class="span2">Операции по счету:</div>
    </div>
    <div class="row mar-left-0 line-height-30">
        <div class="span12">
            <table class="table info-table table-bordered table-condensed font-size-13">
                <colgroup>
                    <col width="100"/>
                    <col width="100"/>
                    <col width="80%"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>Дата</th>
                        <th>Бонусы</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody class="middled">
                    @foreach (var operation in Model.Operations)
                    {
                        <tr>
                            <td>@operation.Date.ToShortDateString()</td>
                            <td class="text-right">@(operation.IsRecieved ? "+" : "-")@operation.Amount.ToString("N0")</td>
                            <td>@operation.Description</td>
                        </tr>
                    }
                    <tr class="success">
                        <td>Всего</td>
                        <td class="text-right">@Model.Total.ToString("+#,#;-#,#;0")</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    if (Model.TotalPages > 1)
    {
        @Html.Pager(Model.TotalPages, Model.Query.page ?? 1)
    }
}
else
{
    <div class="row mar-left-0 line-height-30">
        <div class="span12">
            Операции по счету не найдены.
        </div>
    </div>
}
