@model Vtb24.Site.Models.WishList.WishListModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Мои пожелания";
}

@if (TempData.ContainsKey("error")) {
    @Html.AddScriptBlock(
        @<script>
            require(['Catalog/exception'], function (module) {
                module('@(TempData["error"])');
            });
        </script>
    )
}

@Html.Partial("_CatalogTabs", "WishList")

@if (Model.Items.Any())
{
    @Html.AddScriptBlock(
        @<script>
            require(['Wishlist/wishlist'], function (wl) {
                wl({
                    removeUrl: '@Url.Action("Remove", "Wishlist")',
                    balance: @Model.Balance
                });
            });
        </script>
    )

    <p class="shared__attention-text" data-hide-on="empty-list" style="margin: 30px 0 0 0;">
        Обратите внимание, что рассчитанная сумма заказа в бонусах указана БЕЗ стоимости доставки. Полную стоимость заказа Вы сможете узнать, оформив заказ и указав адрес и способ доставки.
    </p>
}

<div class="bonus-calc__button">
    <span>Бонусный калькулятор</span>
</div>

@if (Model.Items.Any())
{
     using(Html.BeginForm("MoveToBasket", "Wishlist"))
     {
         @Html.AntiForgeryToken()
         <table class="gifts-grid" data-hide-on="empty-list" cellspacing="0" cellpadding="0">
             <colgroup>
                 <col width="42" />
                 <col width="527" />
                 <col width="140" />
                 <col width="208" />
                 <col width="59" />
             </colgroup>
             <thead class="gifts-grid__head">
                 <tr>
                     <th class="gifts-grid__head__col"></th>
                     <th class="gifts-grid__head__col">Вознаграждения</th>
                     <th class="gifts-grid__head__col">Цена в бонусах</th>
                     <th class="gifts-grid__head__col">Необходимо бонусов</th>
                     <th class="gifts-grid__head__col"></th>
                 </tr>
             </thead>
             @foreach (var item in Model.Items)
             {
                 var cbStatus = item.CanBuy ? "" : "disabled";
                 var productUrl = Url.Action("Product", "Catalog", new {id = item.ProductId});
                 var imageUrl = string.IsNullOrWhiteSpace(item.Thumbnail) ? "/content/images/gift144.png" : Url.ImageProcessor("product_recommend", item.Thumbnail);
                 var itemPrice = item.ProductPrice.ToString("N0");
                 <tbody data-price="@item.ProductPrice" data-available="@(item.IsAvailable ? "true" : "false")" data-checked="false">
                     <tr class="gifts-grid__margin"><td colspan="5"></td></tr>
                     <tr class="gifts-grid__row">
                         <td class="gifts-grid__cell">
                             <input type="checkbox" class="styled-cbox" id="p-@item.ProductId" name="product" value="@item.ProductId" autocomplete="off"  @cbStatus/>
                             <label for="p-@item.ProductId" class="styled-nolabel"></label>
                         </td>
                         <td class="gifts-grid__cell">
                             <figure class="gift-figure">
                                 <a href="@productUrl" class="gift-figure__picture">
                                    @if (!item.IsAvailable)
                                    {
                                        <div class="gift-figure__picture-not-available">
                                            <p>@item.ProductNotification</p>
                                        </div>
                                    }
                                    <img src="@imageUrl" width="145" height="145" onerror="this.src='/content/images/gift144.png'" />
                                 </a>
                                 <figcaption>
                                     <a class="gift-figure__title" href="@productUrl">@item.Title</a>
                                 </figcaption>
                             </figure>
                         </td>
                         <td class="gifts-grid__cell gifts-grid__itemprice">
                             @itemPrice
                         </td>
                         <td class="gifts-grid__cell gifts-grid__estimate">
                             @if (item.PointsDeficit.HasValue)
                             {
                                 <figure class="gift-estimate">
                                     <figcaption class="gift-estimate__bonuses">
                                         @item.PointsDeficit.Value.ToString("N0")
                                     </figcaption>
                                     <div class="gift-estimate__body">
                                         <div class="gift-estimate__bar" style="width: @item.PointsProgress%"></div>
                                     </div>
                                 </figure>
                             }
                             else
                             {
                                 <text>У Вас достаточно бонусов для заказа этого вознаграждения!</text>
                             }
                         </td>
                         <td class="gifts-grid__cell gifts-grid__delete">
                             <button class="gifts-grid__delete-btn" type="button"></button>
                         </td>
                     </tr>
                 </tbody>
             }
             <tfoot class="gifts-grid__foot">
                 <tr class="gifts-grid__margin"><td colspan="5"></td></tr>
                 <tr>
                     <td colspan="5" class="gifts-grid__cell gifts-grid__foot-cell">
                         <div class="shared__well-red" data-show-on="not-enouth-money" style="display:none;">
                             <p class="shared__warning-text">
                                <b>Внимание!</b><br/>
                                У Вас не хватает бонусов для добавления в корзину всех выбранных вознаграждений. Пожалуйста, уменьшите количество вознаграждений.
                             </p>
                         </div>
                         <div class="shared__well-red" data-show-on="no-available-gifts" style="display:none;">
                            <p class="shared__warning-text">
                                <b>Внимание!</b><br/>
                                Нет вознаграждений, доступных для заказа.
                            </p>
                        </div>
                         <div class="shared__well">
                             <button class="btn-red large" type="submit" data-disable-on="not-enouth-money">
                                 <span>Добавить в корзину</span>
                             </button>
                         </div>
                     </td>
                 </tr>
             </tfoot>
         </table>
     }
}

<div class="full-content shdw" data-show-on="empty-list" style="display:@(Model.Items.Any() ? "none" : "block")">
    <div class="fc-padding">
        <div class="middle-line white">
            <div class="ml-text"><span class="size28">Нет вознаграждений</span></div>
        </div>
        <p>
            Для того, чтобы добавить товар в Мои желания, для начала перейдите, пожалуйста, в <a href="@Url.Action("Index", "Catalog")">каталог</a>
        </p>
        <div class="space280"></div>
    </div>
</div>

<div id="popup" class="bonus-calc _is-popup">
    <i class="shared__dark-overlay"></i>
    <div class="shared__modal-container" style="z-index: 12;">
        <i class="shared__modal-close-btn"></i>

        <div class="middle-line white" style="margin-top:0">
            <div class="ml-text"><span class="size28">Бонусный калькулятор</span></div>
        </div>

        @Html.Partial("~/Views/Calculator/_Calculator.cshtml")

        <hr class="shared__hr" />

    </div>
</div>
