@model Vtb24.Site.Models.Account.CreatePasswordModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Смена пароля";
}

@Html.AddScriptBlock(
    @<script>
         require(['Shared/form.submit'], function (module) {
             module({ form: '#forgotpass-form' });
         });
    </script> 
)

@using (Html.BeginForm("CreatePassword", "Account", FormMethod.Post, new { id = "forgotpass-form", autocomplete = "off"  }))
{
    @Html.HiddenFor(m => m.ReturnUrl)
    @Html.HiddenFor(m => m.Phone)
    @Html.HiddenFor(m => m.Password)
    <div class="full-content shdw">
        <div class="fc-padding">

            <div class="middle-line white">
                <div class="ml-text"><span class="size28">Необходимо установить новый пароль</span></div>
            </div>
            @Html.ValidationSummary()
            <div class="table form-order">
                <ul class="reset row">
                    <li class="cell">
                        Номер телефона
                    </li>
                    <li class="cell">
                        @Html.TextBoxFor(m => m.Phone, new {maxlength = 17, @readonly = "readonly"})
                    </li>
                </ul>
                <ul class="reset row">
                    <li class="cell">
                        Введите новый пароль
                    </li>
                    <li class="cell">
                        @Html.PasswordFor(m => m.NewPassword, new {maxlength = 20})
                    </li>
                </ul>

                <ul class="reset row">
                    <li class="cell">
                        Подтвердите новый пароль
                    </li>
                    <li class="cell">
                        @Html.PasswordFor(m => m.ConfirmNewPassword, new {maxlength = 20})
                    </li>
                </ul>
            </div>
            <div class="button-wrap">
                <button class="btn-blue large" type="submit"><span>Установить</span></button>
            </div>
        </div>
    </div>
}