@using System.Globalization
@model Vtb24.Site.Models.Account.RegistrationModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Регистрация";
    ViewBag.WrapClass = "two-col";
}

@Html.AddScriptBlock(
    @<script>
         require(['Account/registration'], function (module) {
            module({ el: '#registration-form', refreshCaptcha: '.btn-capcha', captchaImage: '#captchaImage' });
         });
         
         require(['Shared/form.submit'], function (module) {
             module({ form: '#registration-form' });
         });
    </script>
    
)
<div class="full-content shdw">
    <div class="fc-padding relative">
        <div class="reg-order-ban">
            <p align="center">
                <img src="/Content/images/ordercards.png" width="153" height="115" />
            </p>
            <p align="center">
                В программе &laquo;Коллекция&raquo; принимают участие только держатели карт ВТБ24
            </p>            
            <p align="center">
                <a class="btn red-shape-min" href="http://www.vtb24.ru/personal/cards/credit/Pages/default.aspx" target="_blank" onclick="ga('send', 'event', 'Outbound Links', 'A02/regpageordercart', this.href )">
                    <span>Заказать карту</span>
                </a>
            </p>
        </div>
        <div class="middle-line white">
            <div class="ml-text"><span class="size28">Регистрация в программе лояльности «Коллекция»</span></div>
        </div>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registration-form", autocomplete = "off" }))
        {
            @Html.ValidationSummary()

            <div class="table form-order">
                <ul class="reset row">
                    <li class="cell">
                        <label for="surname">Фамилия</label>
                    </li>
                    <li class="cell">
                        @Html.TextBoxFor(m => m.LastName, new { maxlength = 50, tabindex = 1 })
                    </li>
                </ul>

                <ul class="reset row">
                    <li class="cell">
                        <label for="firstname">Имя</label>
                    </li>
                    <li class="cell">
                        @Html.TextBoxFor(m => m.FirstName, new { maxlength = 50, tabindex = 2 })
                    </li>
                </ul>
                <ul class="reset row">
                    <li class="cell">
                        <label for="secondname">Отчество</label>
                    </li>
                    <li class="cell">
                        @Html.TextBoxFor(m => m.MiddleName, new { maxlength = 50, tabindex = 3 })
                    </li>
                </ul>
                <ul class="reset row dateselect">
                    <li class="cell">Дата рождения
                    </li>
                    <li class="cell">
                        
                        <span class="select-decor d_dd">
                            @Html.HiddenFor(m => m.BirthDate)
                            <select name="dob_dd" id="dob_dd" class="html-select"  tabindex="-1">
                                <option value="">День</option>
                                @{
                                    var daysInMonth = 31;
                                    if (Model.BirthYear.HasValue && Model.BirthMonth.HasValue)
                                    {
                                        daysInMonth = DateTime.DaysInMonth(Model.BirthYear.Value, Model.BirthMonth.Value);
                                    } 
                                    else if (Model.BirthMonth.HasValue)
                                    {
                                        daysInMonth = DateTime.DaysInMonth(1992, Model.BirthMonth.Value);
                                    }
                                }
                                @for (var i = 1; i <= daysInMonth; i++)
                                {
                                    <option value="@i" @(Model.BirthDate == i ? "selected=\"selected\"" : "")>@i</option>
                                }
                            </select>
                        </span>
                        <span class="select-decor d_mm">
                            @Html.HiddenFor(m => m.BirthMonth)
                            <select name="dob_mm" id="dob_mm" class="html-select" tabindex="-1">
                                <option value="">Месяц</option>
                                @for (var i = 1; i <= 12; i++)
                                {
                                    <option value="@i" @(Model.BirthMonth.HasValue && Model.BirthMonth.Value == i ? "selected=\"selected\"" : "")>@CultureInfo.GetCultureInfo("ru-RU").DateTimeFormat.MonthNames[i - 1]</option>
                                }
                            </select>
                        </span>
                        <span class="select-decor d_yyyy">
                            @Html.HiddenFor(m => m.BirthYear)
                            <select name="dob_yyyy" id="dob_yyyy" class="html-select" tabindex="-1">
                                <option value="">Год</option>
                                @for (var i = DateTime.Now.Year - 18; i >= DateTime.Now.Year - 100; i--)
                                {
                                    <option value="@i" @(Model.BirthYear == i ? "selected=\"selected\"" : "")>@i</option>
                                }
                            </select>
                        </span>
                        
                    </li>
                </ul>                
                <ul class="reset row">
                    <li class="cell">Номер мобильного телефона
                    </li>
                    <li class="cell">
                        <ul class="reset table">
                            <li class="cell">
                                @Html.TextBoxFor(m => m.Phone, new { tabindex = 7, maxlength = 17, data_numeric = Html.Json(new { allow = "(,),-,' '" }) })
                            </li>
                        </ul>
                        <p class="fix-blocktable-perversion"><em class="weight-normal">Ваш номер телефона будет использоваться для входа на сайт</em></p>
                    </li>
                </ul>
                <ul class="reset row">
                    <li class="cell">
                        <label for="email">Адрес электронной почты (E-mail)</label>
                    </li>
                    <li class="cell">
                        @Html.TextBoxFor(m => m.Email, new { tabindex = 8 })
                    </li>
                </ul>
                <ul class="reset row">
                    <li class="cell">Введите код с картинки
                    </li>
                    <li class="cell">
                            <img src="@Url.CaptchaUrl(width: 72, height: 24)" width="72" height="24" id="captchaImage" />
                            <input type="button" class="btn-capcha">
                            @Html.TextBoxFor(x=>x.Captcha, new {@class="capcha", maxlength = 10, tabindex = 10 })
                        </li>
                </ul>
            </div> 
            <div class="pdt10 pdb5 label-pointer">
                <span class="check-box-decor">
                    <label for="@Html.NameFor(x => x.AgreeToTerms)" class="checkbox-label">
                        @Html.CheckBoxFor(x => x.AgreeToTerms, new { data_x = "account/registartion/required_checkbox" })
                        Я прочитал и принимаю
                        <span class="check-box-image"></span>
                    </label> <a href="/pravila" target="_blank">правила программы «Коллекция»</a>.
                    <label for="@Html.NameFor(x => x.AgreeToTerms)" class="checkbox-label">
                         Я выражаю согласие на обработку
                    </label> <a href="/privacy" target="_blank">персональных данных</a>
                </span>
            </div>
            <div class="button-wrap mnt40">
                <button class="btn-blue large" type="submit" tabindex="13" onclick="ga('send', 'event', 'Submit button', 'New User Registration', this.href)">
                    <span>Зарегистрировать</span>
                </button>
            </div>
        }
    </div>
</div>
